@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.ant-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 4px;
  height: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: $text-1;
  border-color: $border-0;
  @include transition;

  &:hover {
    border-color: $primary-0;
    color: $primary-0;
  }

  > .anticon + span,
  > span + .anticon {
    margin: 0 0 0 0.5em;
  }

  .anticon-right {
    transform: rotate(0);
  }

  .anticon-left {
    transform: rotate(0);
  }

  &.ant-btn-primary {
    background-color: $primary-0;
    border-color: $primary-0;

    &:hover {
      background-color: $primary-10;
      border-color: $primary-10;
      color: #fff;
    }
  }

  &.ant-btn-sm {
    padding: 0 15px;
    height: 28px;
    font-size: 12px;

    &.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
      padding: 0 15px 0 24px;
      .anticon {
        margin: 0 0 0 -17px;
      }
    }
  }

  &.ant-btn-lg {
    padding: 0 35px;
    font-size: 14px;
    height: 42px;
  }

  &.ant-btn-primary {
    color: #ffffff;
  }

  &.ant-btn-dashed {
    border-style: dashed;
    border-color: $border-1;

    &:hover {
      color: $primary-0;
      border-color: $primary-0;
    }
  }

  &.ant-btn-danger {
    background-color: $error-0;
    border-color: $error-0;
    color: #ffffff;

    &:hover {
      background-color: $error-2;
      border-color: $error-2;
    }

    &.ant-btn-background-ghost {
      color: $error-0;
      background-color: transparent;
      border-color: $error-0;

      &:hover {
        color: $error-2;
        border-color: $error-2;
      }
    }
  }

  &.ant-btn-circle,
  &.ant-btn-circle-outline {
    width: 35px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%;
    height: 35px;

    &.ant-btn-sm {
      padding: 0;
      height: 28px;
      width: 28px;
      font-size: 12px;
    }

    &.ant-btn-lg {
      padding: 0;
      font-size: 14px;
      height: 42px;
      width: 42px;
    }
  }

  &.ant-btn.disabled,
  &.ant-btn[disabled],
  &.ant-btn.disabled:hover,
  &.ant-btn[disabled]:hover,
  &.ant-btn.disabled:focus,
  &.ant-btn[disabled]:focus,
  &.ant-btn.disabled:active,
  &.ant-btn[disabled]:active,
  &.ant-btn.disabled.active,
  &.ant-btn[disabled].active {
    color: $grayscale-2;
    background-color: #f7f7f7;
    border-color: $border-0;
    cursor: not-allowed;
  }

  &.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
    .anticon {
    margin: 0 0 0 -14px;
  }

  &.isoButton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0 25px;
    font-size: 13px;
    border-radius: 4px;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    color: #ffffff;
    background-color: $primary-0;
    @include transition;

    &:hover {
      background-color: $primary-2;
    }

    &.isoBtnSm {
      padding: 0 15px;
      height: 28px;
      font-size: 12px;
    }

    &.isoBtnLg {
      padding: 0 35px;
      font-size: 14px;
      height: 42px;
    }
  }

  + .ant-btn-group {
    margin-left: -1px !important;
    margin-right: 0 !important;
  }
}

.ant-radio-button-wrapper {
  height: 35px;
  line-height: 33px;
  color: $text-1;
  border: 1px solid $border-0;
  border-left: 0;
  background: #fff;
  padding: 0 20px;

  &:hover,
  &.ant-radio-button-wrapper-focused {
    color: $primary-0;
  }

  &.ant-radio-button-wrapper-checked {
    background: #fff;
    border-color: $primary-0;
    color: $primary-0;
    box-shadow: -1px 0 0 0 $primary-0;
  }
}

.ant-radio-button-wrapper {
  height: 35px;
  line-height: 33px;
  color: $text-1;
  border: 1px solid $border-0;
  border-left: 0;
  background: #fff;
  padding: 0 20px;

  &:hover,
  &.ant-radio-button-wrapper-focused {
    color: $primary-0;
  }

  &.ant-radio-button-wrapper-checked {
    background: #fff;
    border-color: $primary-0;
    color: $color-0;
    box-shadow: -1px 0 0 0 $primary-0;
  }
}

.ant-btn-group {
  .ant-btn {
    margin: 0;
    margin-right: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-color: $border-1;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 4px;
    height: 36px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    @include transition;

    &:hover {
      border-color: $primary-0;
    }

    &.ant-btn-dashed {
      border-style: dashed;

      &:hover {
        border-color: $primary-0;
      }
    }

    &.ant-btn-primary {
      border-color: $primary-0;

      &:hover {
        border-color: $primary-10;
      }
    }
  }

  > .ant-btn:first-child:not(:last-child) {
    border-radius: 4px 0 0 4px;
  }

  > .ant-btn:last-child:not(:first-child) {
    border-radius: 0 4px 4px 0;
  }

  .ant-btn-primary:last-child:not(:first-child),
  .ant-btn-primary + .ant-btn-primary {
    border-left-color: $primary-2;
    border-right-color: $primary-0;
  }

  .ant-btn-primary:first-child:not(:last-child) {
    border-left-color: $primary-0;
    border-right-color: $primary-2;
  }

  .ant-btn + .ant-btn,
  + .ant-btn {
    margin-left: -1px !important;
    margin-right: 0 !important;
  }

  &.ant-btn-group-lg {
    > .ant-btn {
      padding: 0 35px;
      font-size: 14px;
      height: 42px;
    }
  }

  &.ant-btn-group-sm {
    > .ant-btn {
      padding: 0 15px;
      height: 28px;
      font-size: 12px;
    }
  }
}

.ant-btn-group + .ant-btn-group {
  margin-left: -1px !important;
  margin-right: 0 !important;
}

.ant-btn-background-ghost {
  background: transparent !important;
  border-color: #fff;
  color: #fff;

  &.ant-btn-primary {
    color: $primary-0;
    background-color: transparent;
    border-color: $primary-0;
  }
}