.ant-checkbox-wrapper {
  font-size: 13px;
  color: $text-1;

  .ant-checkbox {
    top: inherit;
  }

  .ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: $primary-0;
    border-color: $primary-0;
  }

  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $primary-0;
  }

  &:hover {
    .ant-checkbox-inner {
      border-color: $primary-0;
    }
  }
}